<div class="container">
  <nav class="navbar">
    <ul class="breadcrumb col-md-12">
      <li class ="active">
        <a href="{{ site.baseurl }}/home/">
          Home
        </a>
        <span class="divider"></span>
      </li>

      <li>
        <a href="{{ site.baseurl }}/list/">
          Accepted Cards
        </a>
        <span class="divider"></span>
      </li>

      <div class="social-stuff pull-right">
        <li>
          <div class="fb-like" data-href="https://www.facebook.com/wepaycashforgiftcards" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        </li>

        <li>
          <a href="https://twitter.com/GiftCardSales" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @GiftCardSales</a>
        </li>
      </div>
    </ul>
  </nav>
</div>
